/* 100 */
@font-face {
    font-family: "Mon100";
    src: local("Mon100"), url(./source/Montserrat-Thin.ttf) format("truetype");
}

@font-face {
    font-family: "Mon100Italic";
    src: local("Mon100Italic"), url(./source/Montserrat-ThinItalic.ttf) format("truetype");
}

.fontMon100 {
    font-family: 'Mon100' !important
}

.fontMon100Italic {
    font-family: 'Mon100Italic' !important
}

/* 200 */
@font-face {
    font-family: "Mon200";
    src: local("Mon200"), url(./source/Montserrat-ExtraLight.ttf) format("truetype");
}

@font-face {
    font-family: "Mon200Italic";
    src: local("Mon200Italic"), url(./source/Montserrat-ExtraLightItalic.ttf) format("truetype");
}

.fontMon200 {
    font-family: 'Mon200' !important
}

.fontMon200Italic {
    font-family: 'Mon200Italic' !important
}

/* 300 */
@font-face {
    font-family: "Mon300";
    src: local("Mon300"), url(./source/Montserrat-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Mon300Italic";
    src: local("Mon300Italic"), url(./source/Montserrat-LightItalic.ttf) format("truetype");
}

.fontMon300 {
    font-family: 'Mon300' !important
}

.fontMon300Italic {
    font-family: 'Mon300Italic' !important
}

/* 400 */
@font-face {
    font-family: "Mon400";
    src: local("Mon400"), url(./source/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Mon400Italic";
    src: local("Mon400Italic"), url(./source/Montserrat-Italic.ttf) format("truetype");
}

.fontMon400 {
    font-family: 'Mon400' !important
}

.fontMon400Italic {
    font-family: 'Mon400Italic' !important
}

/* 500 */
@font-face {
    font-family: "Mon500";
    src: local("Mon500"), url(./source/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Mon500Italic";
    src: local("Mon500Italic"), url(./source/Montserrat-MediumItalic.ttf) format("truetype");
}

.fontMon500 {
    font-family: 'Mon500' !important
}

.fontMon500Italic {
    font-family: 'Mon500Italic' !important
}

/* 600 */
@font-face {
    font-family: "Mon600";
    src: local("Mon600"), url(./source/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Mon600Italic";
    src: local("Mon600Italic"), url(./source/Montserrat-SemiBoldItalic.ttf) format("truetype");
}

.fontMon600 {
    font-family: 'Mon600' !important
}

.fontMon600Italic {
    font-family: 'Mon600Italic' !important
}

/* 700 */
@font-face {
    font-family: "Mon700";
    src: local("Mon700"), url(./source/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Mon700Italic";
    src: local("Mon700Italic"), url(./source/Montserrat-BoldItalic.ttf) format("truetype");
}

.fontMon700 {
    font-family: 'Mon700' !important
}

.fontMon700Italic {
    font-family: 'Mon700Italic' !important
}

/* 800 */
@font-face {
    font-family: "Mon800";
    src: local("Mon800"), url(./source/Montserrat-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "Mon800Italic";
    src: local("Mon800Italic"), url(./source/Montserrat-ExtraBoldItalic.ttf) format("truetype");
}

.fontMon800 {
    font-family: 'Mon800' !important
}

.fontMon800Italic {
    font-family: 'Mon800Italic' !important
}

/* 900 */
@font-face {
    font-family: 'Mon900';
    src: local('Mon900'), url(./source/Montserrat-Black.ttf) format('truetype');
}

@font-face {
    font-family: "Mon900Italic";
    src: local("Mon900Italic"), url(./source/Montserrat-BlackItalic.ttf) format("truetype");
}

.fontMon900 {
    font-family: 'Mon900' !important
}

.fontMon900Italic {
    font-family: 'Mon900Italic' !important
}